{% extends "base.html" %}

{% block title %}
    Delete Brand
{% endblock%}

{% block content %}


<h1 style="color: red;">Delete Brand {{ brand.name }}</h1>

<div class="col-lg-12">
    <div class="table-responsive rounded mb-3">
        <table class="data-table table mb-0 tbl-server-info">
            <thead class="bg-white text-uppercase">
                <tr class="ligth ligth-data">
                    <th style="width: 250px;">Logo</th>
                    <th style="width: 250px;">Brand Name</th>
                    <th style="width: 250px;">Discreption</th>
                    <th style="width: 250px;">Website</th>
                </tr>
            </thead>
            <tbody class="ligth-body">
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="/media/{{ brand.logo }}" style="width: 100%; max-width: 100px;" alt="image">
                        </div>
                    </td>
                    <td>{{ brand.name }}</td>
                    <td>{{ brand.description}}</td>
                    <td>{{ brand.website }}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<div>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mb-4 mr-4">Delete {{ brand.name }}</button>
        <a href="{% url 'brand_list' %}" class="btn btn-primary mb-4 mr-4">Cancel</a>
    </form>
</div>

<script>
    document.getElementById("brand-list").className = "active";
</script>


{% endblock %}